
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.env
relayer.json
*/**/*.pem
*/**/kubeconfig*

# distribution directory
*/**/dist/

# env files
.env.*
.yarn

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache

#solana recover files 
recover*.json

